{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="home">


    <h1>Ezra Lamoreaux's Mission Call</h1>

    <!-- <p>Join with us to participate to watch Ezra opening his mission call.</p> -->

    <h2>Ways to Participate</h2>
    <p>We have a few different way to participate and join in the excitement.</p>

    <ul>
        <li>Watch the <aa href="#">Live streaming event on Youtube </aa></li>
        <li>Make a prediction and see where others are quessing he'll go on the <a href="/map">Prediction Map</a></li>
    </ul>

</div>

{% endblock %}