/* stylelint-disable property-no-vendor-prefix */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;

}



/*
 * Globals
 */
 *{
  box-sizing: content-box;
 }

/* Links */

/* Custom default button */


/*
 * Base structure
 */

html,
body {
  height: 90%;
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
body {
  color: #fff;
  text-align: center;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: #0055A4;
}

.site-wrapper{
  padding: 0 20px;
  overflow: hidden;
}


#myMap {
    height: 82vh;
    background-color: #a9a9a9;
    width: 100%; 
}


.playerContainer{
  padding-bottom: 10px;
  z-index: 100;
}

.playerContainer .link{
  float:left;
}


input.form-control{
  padding: 7px 0px 7px 0;
  text-indent: 10px;
  display: block;
  width: 100%;
  height: 32px;
  font-size: 17px;
  line-height: 17px;
  border: 0px;
  margin-bottom:10px;
  box-sizing: content-box;

}



/* div#playerContainer input#searchBox{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
} */

/* div#playerContainer input#searchBox[style] {
  border-radius: 0px !important; 
} */

/* .round {
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;

  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 4px;

  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
} */

@supports (-webkit-touch-callout: none) {
  .form-control {
    border-radius: 25px 
  }

  .home{
    text-align: left;
    margin: auto;
    width: 90%;
    sbackground-color: red;
    padding: 10px;
    font-size: x-large;
  }
  
}

@supports not (-webkit-touch-callout: none) {
  .form-control {
    border-radius: 0px 
  } 

  .home{
    text-align: left;
    margin: auto;
    width: 50%;
    sbackground-color: red;
    padding: 10px;
    font-size: x-large;
  }
}